<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tries>
        <trie>mama</trie>
        <trie>myla</trie>
    </tries>
    <rules>
        <file trie="mama">data/barzel_prices.xml</file>
        <file>data/barzel_dates.xml</file>
        <file>data/barzel_fluff.xml</file>
        <file>barzel_rules.xml</file>
    </rules>
    <logging>
        <level>DEBUG</level>
        <file>barzer.log</file>
    </logging>
</config>
