<?xml version="1.0" encoding="UTF-8"?>
<config>
    <rules>
        <file>data/barzel_prices.xml</file>
        <file>data/barzel_dates.xml</file>
        <file>data/barzel_fluff.xml</file>
        <file>barzel_rules.xml</file>
        <file>data/barzel_ru_dates.xml</file>
        <file>data/barzel_ru_prices.xml</file>
        <file>shit.xml</file>
    </rules>
    <entities>
        <file>data/time_ent.xml</file>
    </entities>
    <logging>
        <level>DEBUG</level>
        <file>barzer.log</file>
    </logging>
    <users>
        <user id="1">
            <trieset>
                <trie class="class1" name="1" />
            </trieset>
        </user>
    </users>
</config>
